body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
}

.content {
    position: relative;
    background-color: #c5d9d9;
    width: 375px;
    height: 555px;
    border: 5px solid #9fc2c9;
    border-radius: 20px;
}

.score {
    padding-top: 20px;
    font-weight: bold;
    color: #3a3838;
}

.controls {
    width: 375px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    width: 110px;
    height: 50px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #339494;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background-color: #1d5454;
}
