.box {
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
