#root {
    max-width: 400px;
    margin: 0 auto;
}

.App {
    width: 100%;
}

.box {
    width: 100px;
    height: 100px;
    margin: 12px;
    background-color: lightblue;
    display: inline-block;
    font-size: 24px;
    border: 3px solid #ffffff;
    line-height: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: grab;
    transition: opacity 0.3s ease-in-out;
    -webkit-user-select: none;
}
